<section class="advertisement">
  <div class="container">
    <div class="adv_box">
      <h2 class="adv_title visually-hidden">Advertisement</h2>
      <div class="adv_text_box">
        <p class="adv_text">
          Choose <span class="adv_text_span">your story</span>, making every
          moment unique. Time is your style, and we reveal it.
        </p>
      </div>
      <div class="adv_link_box">
        <a class="adv_link" href="#contact">Contact Us</a>
      </div>
    </div>
  </div>
</section>
