<section class="cataog">
  <div class="conneiner">
    <h2 class="title">Catalog</h2>
    <ul class="cataog-list">
        <li class="cataog-item">
            <div class="cataog-item-img">
                <picture>
                    <source srcset="#1,#2" media="(min-width:320px)" media="(max-width:374px)"/>
                    <source srcset="#1,#2" media="(min-width:375px)"/>
                    <source srcset="#1,#2" media="(min-width:768px)"/>
                    <source srcset="#1,#2" media="(min-width:1280px)"/>
                    <img
                    src="#"
                    alt="1"
                    width="208"
                    height="226"
                  />
                </picture>
            </div>
            <p class="cataog-list-product">Garmin Fenix 7X Pro Sapphire Solar </p>
            <p class="product-price">€500</p>
        </li>
        <li class="cataog-item">
            <div class="cataog-item-img">
                <picture>
                    <source srcset="#1,#2" media="(min-width:320px)" media="(max-width:374px)"/>
                    <source srcset="#1,#2" media="(min-width:375px)"/>
                    <source srcset="#1,#2" media="(min-width:768px)"/>
                    <source srcset="#1,#2" media="(min-width:1280px)"/>
                    <img
                    src="#"
                    alt="2"
                    width="208"
                    height="226"
                  />
                </picture>
            </div>
            <p class="cataog-list-product">Garmin Marq Athlete </p>
            <p class="product-price">€450</p>
            
        </li>
        <li class="cataog-item">
            <div class="cataog-item-img">
                <picture>
                    <source srcset="#1,#2" media="(min-width:320px)" media="(max-width:374px)"/>
                    <source srcset="#1,#2" media="(min-width:375px)"/>
                    <source srcset="#1,#2" media="(min-width:768px)"/>
                    <source srcset="#1,#2" media="(min-width:1280px)"/>
                    <img
                    src="#"
                    alt="3"
                    width="208"
                    height="226"
                  />
                </picture>
            </div>
            <p class="cataog-list-product">Garmin Descent MK1 </p>
            <p class="product-price">€680</p>
        </li>
        <li class="cataog-item">
            <div class="cataog-item-img">
                <picture>
                    <source srcset="#1,#2" media="(min-width:320px)" media="(max-width:374px)"/>
                    <source srcset="#1,#2" media="(min-width:375px)"/>
                    <source srcset="#1,#2" media="(min-width:768px)"/>
                    <source srcset="#1,#2" media="(min-width:1280px)"/>
                    <img
                    src="#"
                    alt="3"
                    width="208"
                    height="226"
                  />
                </picture>
            </div>
            <p class="cataog-list-product">Garmin D2 Delta PX</p>
            <p class="product-price">€380</p>
        </li>
    </ul>
  </div>
</section>
