<section class="catalog" id="catalog">
  <div class="container catalog-container">
    <h2 class="title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <div class="catalog-item-img">
          <picture>
            <source
              srcset="
                ./img/catalog/mobile/fenix-7x-mob-1x.png 1x,
                ./img/catalog/mobile/fenix-7x-mob-2x.png 2x
              "
              media="(min-width:375px)"
            />

            <source
              srcset="
                ./img/catalog/tablet/fenix-7x-tab-1x.png 1x,
                ./img/catalog/tablet/fenix-7x-tab-2x.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/catalog/pc/fenix-7x-pc-1x.png 1x,
                ./img/catalog/pc/fenix-7x-pc-2x.png 2x
              "
              media="(min-width:1280px)"
            />
            <img
              class="catalog-img"
              src="./img/catalog/mobile/fenix-7x-mob-1x.png"
              alt="fenix-7x-pro"
              width="292"
            />
          </picture>
        </div>
        <div class="catalog-box">
          <h3 class="catalog-list-product product-mob">
            Garmin Fenix 7X Pro Sapphire Solar
          </h3>

          <h3 class="catalog-list-product-tab">
            Garmin Fenix 7X Pro Sapphire...
          </h3>
          <h3 class="catalog-list-product-pc">
            Garmin Fenix 7X Pro Sapphire Sol...
          </h3>
          <p class="product-price">€500</p>
        </div>
      </li>

      <li class="catalog-item">
        <div class="catalog-item-img">
          <picture>
            <source
              srcset="
                ./img/catalog/mobile/marq-ath-mob-1x.png 1x,
                ./img/catalog/mobile/marq-ath-mob-2x.png 2x
              "
              media="(min-width:375px)"
            />
            <source
              srcset="
                ./img/catalog/tablet/marq-ath-tab-1x.png 1x,
                ./img/catalog/tablet/marq-ath-tab-2x.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/catalog/pc/marq-ath-pc-1x.png 1x,
                ./img/catalog/pc/marq-ath-pc-2x.png 2x
              "
              media="(min-width:1280px)"
            />
            <img
              class="catalog-img"
              src="./img/catalog/mobile/marq-ath-mob-1x.png"
              alt="marq-athlete"
              width="292"
            />
          </picture>
        </div>
        <div class="catalog-box">
          <h3 class="catalog-list-product">Garmin Marq Athlete</h3>
          <p class="product-price">€450</p>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-item-img">
          <picture>
            <source
              srcset="
                ./img/catalog/mobile/descent-mob-1x.png 1x,
                ./img/catalog/mobile/descent-mob-2x.png 2x
              "
              media="(min-width:375px)"
            />
            <source
              srcset="
                ./img/catalog/tablet/descent-tab-1x.png 1x,
                ./img/catalog/tablet/descent-tab-2x.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/catalog/pc/descent-pc-1x.png 1x,
                ./img/catalog/pc/descent-pc-2x.png 2x
              "
              media="(min-width:1280px)"
            />
            <img
              class="catalog-img"
              src="./img/catalog/mobile/descent-mob-1x.png"
              alt="descent-mk1"
              width="292"
            />
          </picture>
        </div>
        <div class="catalog-box">
          <h3 class="catalog-list-product">Garmin Descent MK1</h3>
          <p class="product-price">€680</p>
        </div>
      </li>

      <li class="catalog-item">
        <div class="catalog-item-img">
          <picture>
            <source
              srcset="
                ./img/catalog/mobile/delta-px-mob-1x.png 1x,
                ./img/catalog/mobile/delta-px-mob-2x.png 2x
              "
              media="(min-width:375px)"
            />
            <source
              srcset="
                ./img/catalog/tablet/delta-px-tab-1x.png 1x,
                ./img/catalog/tablet/delta-px-tab-2x.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/catalog/pc/delta-px-pc-1x.png 1x,
                ./img/catalog/pc/delta-px-pc-2x.png 2x
              "
              media="(min-width:1280px)"
            />
            <img
              class="catalog-img"
              src="./img/catalog/mobile/delta-px-mob-1x.png"
              alt="delta-px"
              width="292"
            />
          </picture>
        </div>
        <div class="catalog-box">
          <h3 class="catalog-list-product">Garmin D2 Delta PX</h3>
          <p class="product-price">€380</p>
        </div>
      </li>

      <li class="catalog-item catalog-tab">
        <div class="catalog-item-img">
          <picture>
            <source
              srcset="
                ./img/catalog/tablet/fenix-6-tab-1x.png 1x,
                ./img/catalog/tablet/fenix-6-tab-2x.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/catalog/pc/fenix-6-pc-1x.png 1x,
                ./img/catalog/pc/fenix-6-pc-2x.png 2x
              "
              media="(min-width:1280px)"
            />
            <img
              class="catalog-img"
              src="./img/catalog/tablet/fenix-6-tab-1x.png"
              alt="fenix-6-pro-solar"
              width="292"
            />
          </picture>
        </div>
        <div class="catalog-box">
          <h3 class="catalog-list-product">Garmin Fenix 6 Pro Solar</h3>
          <p class="product-price">€400</p>
        </div>
      </li>

      <li class="catalog-item catalog-tab">
        <div class="catalog-item-img">
          <picture>
            <source
              srcset="
                ./img/catalog/tablet/tube-tab-1x.png 1x,
                ./img/catalog/tablet/tube-tab-2x.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/catalog/pc/tube-pc-1x.png 1x,
                ./img/catalog/pc/tube-pc-2x.png 2x
              "
              media="(min-width:1280px)"
            />
            <img
              class="catalog-img"
              src="./img/catalog/tablet/tube-tab-1x.png"
              alt="tube-watch"
              width="292"
            />
          </picture>
        </div>
        <div class="catalog-box">
          <h3 class="catalog-list-product-tab">
            Tube Watch S42 Date Steel W...
          </h3>
          <h3 class="catalog-list-product-pc">
            Tube Watch S42 Date Steel With...
          </h3>

          <p class="product-price">€395</p>
        </div>
      </li>
    </ul>
    <button class="catalog-btn" type="button">Show more</button>
  </div>
</section>
