<footer class="footer">
  <div class="container-footer">
    <div class="section-one-footer">
      <div class="social-footer">
        <a class="logo footer-logo" href="./index.html">watchcharm</a>
        <ul class="block-social">
          <li class="social-links-footer">
            <a
              class="footer-links"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
            >
              <svg class="footer-icon" width="20" height="20">
                <use href="#"></use>
              </svg>
            </a>
          </li>
          <li class="social-links-footer">
            <a
              class="footer-links"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
            >
              <svg class="footer-icon" width="20" height="20">
                <use href="#"></use>
              </svg>
            </a>
          </li>
          <li class="social-links-footer">
            <a
              class="footer-links"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
            >
              <svg class="footer-icon" width="20" height="20">
                <use href="#"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <p class="footer-desc">
        Have the time of your life with our watches: where high-class
        craftsmanship meets impeccable design
      </p>
      <address class="phone">
        <a class="address-link" href="tel:+380684439426">+380 (68) 443-94-26</a>
      </address>
    </div>
    <div class="setion-two-footer">
      <nav class="footer-nav">
        <ul class="nav-list-footer">
          <li class="nav-item-footer">
            <a class="nav-link-footer" href="./index.html">Home</a>
          </li>
          <li class="nav-item-footer">
            <a class="nav-link-footer" href="#about">About Us</a>
          </li>
          <li class="nav-item-footer">
            <a class="nav-link-footer" href="#catalog">Catalog</a>
          </li>
          <li class="nav-item-footer">
            <a class="nav-link-footer" href="#sale">Sale</a>
          </li>
          <li class="nav-item-footer">
            <a class="nav-link-footer" href="#reviews">Reviews</a>
          </li>
          <li class="nav-item-footer">
            <a class="nav-link-footer" href="#contact">Contact Us</a>
          </li>
        </ul>
      </nav>
      <address class="local">
        1678 S. Pioneer Road Salt<br />
        Lake City UT 84104
      </address>
    </div>
    <div class="setion-three-footer">
      <p class="copyright">&copy;2023 The Watch Spot. All rights reserved.</p>
      <ul class="footer-servicw-and-policy">
        <li><a href="#" class="servicw-and-policy">Terms of Service</a></li>
        <li><a href="#" class="servicw-and-policy">Privacy Policy</a></li>
      </ul>
    </div>
  </div>
</footer>
