<footer class="footer" id="footer">
  <div class="container">
    <div class="container-footer">
      <div class="section-one-footer">
        <div class="social-footer">
          <a class="footer-logo" href="./index.html">watchcharm</a>
          <ul class="block-social">
            <li class="social-links-footer">
              <a
                class="footer-links"
                href="https://www.facebook.com/goITclub/"
                target="_blank"
              >
                <svg class="footer-icon" width="20" height="20">
                  <use href="./img/icons.svg#facebook-icon"></use>
                </svg>
              </a>
            </li>
            <li class="social-links-footer">
              <a
                class="footer-links"
                href="https://www.instagram.com/goitclub/"
                target="_blank"
              >
                <svg class="footer-icon" width="20" height="20">
                  <use href="./img/icons.svg#instagram-icon"></use>
                </svg>
              </a>
            </li>
            <li class="social-links-footer">
              <a
                class="footer-links"
                href="https://www.youtube.com/c/GoIT"
                target="_blank"
              >
                <svg class="footer-icon" width="20" height="20">
                  <use href="./img/icons.svg#youtube-icon"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <address class="phone">
          <a class="address-link" href="tel:+380684439426"
            >+380 (68) 443-94-26</a
          >
        </address>
        <div class="footer-paragraph-div">
          <p class="footer-paragraph">
            Have the time of your life with our watches: where high-class
            craftsmanship meets impeccable design
          </p>
        </div>
      </div>
      <div class="setion-two-footer">
        <nav class="footer-nav">
          <ul class="nav-list-footer">
            <li class="nav-item-footer">
              <a class="nav-link-footer" href="./index.html">Home</a>
            </li>
            <li class="nav-item-footer">
              <a class="nav-link-footer" href="#about">About Us</a>
            </li>
            <li class="nav-item-footer">
              <a class="nav-link-footer" href="#catalog">Catalog</a>
            </li>
            <li class="nav-item-footer">
              <a class="nav-link-footer" href="#sale">Sale</a>
            </li>
            <li class="nav-item-footer">
              <a class="nav-link-footer" href="#reviews">Reviews</a>
            </li>
            <li class="nav-item-footer">
              <a class="nav-link-footer" href="#contact">Contact Us</a>
            </li>
          </ul>
        </nav>
        <address class="local">
          <p class="local-p">1678 S. Pioneer Road Salt Lake City UT 84104</p>
        </address>
      </div>
      <div class="setion-three-footer">
        <p class="copyright">&copy;2023 The Watch Spot. All rights reserved.</p>
        <ul class="footer-servicw-and-policy">
          <li><a href="#" class="servicw-and-policy">Terms of Service</a></li>
          <li><a href="#" class="servicw-and-policy">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
