<section class="sale">
  <div class="container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-small-produkt">
      <ul class="sale-list">
        <li class="sale-item">
          <picture>
            <source media="(min-width: 1280px)" srcset="
                ./img/sale/pc/small-1-pc-1x.png 1x,
                ./img/sale/pc/small-1-pc-2x.png 2x"/>
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/sale/tablet/small-1-tab-1x.png 1x,
                ./img/sale/tablet/small-1-tab-2x.png 2x"/>
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/sale/mobile/small-1-mob-1x.png 1x,
                ./img/sale/mobile/small-1-mob-2x.png 2x"/>
            <img
              src="./img/sale/mobile/small-1-mob-1x.png"
              alt="picture-watch"
              width="96"/>
          </picture>
        </li>
        <li class="sale-item">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/sale/pc/small-2-pc-1x.png 1x,
                ./img/sale/pc/small-2-pc-2x.png 2x"/>
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/sale/tablet/small-2-tab-1x.png 1x,
                ./img/sale/tablet/small-2-tab-2x.png 2x"/>
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/sale/mobile/small-2-mob-1x.png 1x,
                ./img/sale/mobile/small-2-mob-2x.png 2x"/>
            <img
              src="./img/sale/mobile/small-2-mob-1x.png"
              alt="picture-watch"
              width="96"/>
          </picture>
        </li>
        <li class="sale-item">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/sale/pc/small-3-pc-1x.png 1x,
                ./img/sale/pc/small-3-pc-2x.png 2x"/>
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/sale/tablet/small-3-tab-1x.png 1x,
                ./img/sale/tablet/small-3-tab-2x.png 2x"/>
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/sale/mobile/small-3-mob-1x.png 1x,
                ./img/sale/mobile/small-3-mob-2x.png 2x"/>
            <img
              src="./img/sale/mobile/small-3-mob-1x.png"
              alt="picture-watch"
              width="96"/>
          </picture>
        </li>
        <li class="sale-item">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/sale/pc/small-4-pc-1x.png 1x,
                ./img/sale/pc/small-4-pc-2x.png 2x"/>
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/sale/tablet/small-4-tab-1x.png 1x,
                ./img/sale/tablet/small-4-tab-2x.png 2x"/>
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/sale/mobile/small-4-mob-1x.png 1x,
                ./img/sale/mobile/small-4-mob-2x.png 2x"/>
            <img
              src="./img/sale/mobile/small-4-mob-1x.png"
              alt="picture-watch"
              width="96"/>
          </picture>
        </li>
      </ul>
    </div>
    <div class="sale-big-produkt">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/sale/pc/big-pic-pc-1x.png 1x,
            ./img/sale/pc/big-pic-pc-2x.png 2x"/>
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/sale/tablet/big-pic-tab-1x.png 1x,
            ./img/sale/tablet/big-pic-tab-2x.png 2x"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/sale/mobile/big-pic-mob-1x.png 1x,
            ./img/sale/mobile/big-pic-mob-2x.png 2x"/>
        <img
          src="./img/sale/mobile/big-pic-mob-1x.png"
          alt="picture-watch"
          width="328"/>
      </picture>
    </div>
    <div class="sale-description">
      <h2 class="sale-description-title">
        MARQ® Commander (Gen 2) - Carbon Edition
      </h2>
      <p class="sale-tag">Product tag: 706587</p>
      <p class="sale-price">€1500</p>
      <p class="sale-old-price">€3000</p>
      <p class="sale-about-watch">
        The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
        for adventurers that takes materials and features to the next level. The
        body of the watch is made of very durable Fused Carbon Fiber material
        and has a precise AMOLED touch screen. The sensitive touch screen is
        complemented by buttons that can be used in any conditions.
      </p>
      <ul class="sale-type-list">
        <li class="sale-type-item">
          <p>Fused carbon fiber</p>
        </li>
        <li class="sale-type-item">
          <p>Grade-5 Titanuim</p>
        </li>
        <li class="sale-type-item">
          <p>Athlete</p>
        </li>
        <li class="sale-type-item">
          <p>Golfer</p>
        </li>
        <li class="sale-type-item">
          <p>Commander</p>
        </li>
        <li class="sale-type-item">
          <p>Adventurer</p>
        </li>
      </ul>
    </div>
  </div>
</section>
