.container.adv_container {
  height: 363px;
  margin: 60px 20px;
  padding: 60px 28px;
  border-radius: 30px;
  display: block;
  background-color: #0c0c0c;
  background-image: linear-gradient(rgba(12, 12, 12, 1), rgba(12, 12, 12, 1)),
    url(/img/advertisement/adv-img-mob-1x.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .advertisement {
    background-image: linear-gradient(#0c0c0c, #0c0c0c),
      url(/img/advertisement/adv-img-mob-2x.jpg);
  }
}
.adv_text {
  text-align: left;
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}
.adv_text_span {
  color: rgba(251, 251, 251, 0.5);
}
.adv_link_box {
  display: block;
  width: 160px;
  height: 48px;
  border: 1px solid rgba(251, 251, 251, 0.15);
  border-radius: 16px;
  margin-top: 28px;
  margin-left: 0;
  margin-bottom: 60px;
  text-align: center;
  padding: 15px 43px 15px 44px;
}
.adv_link {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: #fbfbfb;
}
