.footer {
  padding: 40px 40px 28px;
  margin: 0 auto 32px;
  background: #5c5c5c;
  border-radius: 30px;
  max-width: 1216px;
}

.footer-desc {
  /* max-width: 523px;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fbfbfb; */
  text-align: center;
}

.setion-three-footer {
  padding-top: 28px;
  border-top: 1px solid rgba(251, 251, 251, 0.1);
}
