.header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
  height: 74px;
}
.header-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 375px;
}
nav {
  display: flex;
  align-items: center;
  width: 100%;
}
.mobile-header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.logo {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  padding: 7.5px 0;
}
.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-style: none;
  height: 34px;
  width: 34px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  padding: 16px 0;
}
.menu-icon {
  stroke: #0c0c0c;
}
.tab-menu-icon {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.nav-link {
  display: block;
  color: #0c0c0c;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link-current {
  fill: #3350e9;
  visibility: hidden;
}
.nav-link-current.current {
  visibility: visible;
}
.nav-link:hover,
.nav-link:focus,
.nav-link.current {
  color: #0c0c0c;
}
.header-social {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* Mobile menu window */

.mobile-modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: rgba(12, 12, 12, 0.92);
  background-image: url(/img/menu/mob-menu-bg-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .mobile-modal {
    background-color: rgba(12, 12, 12, 0.92);
    background-image: url(/img/menu/mob-menu-bg-mob-2x.jpg);
  }
}
.mobile-nav-list {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: auto;
}
.mobile-nav-link {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;
}
.mobile-header-social {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.button-close {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-style: none;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 34px;
  height: 34px;
  cursor: pointer;
}
.close-icon {
  outline: none;
  stroke: #fbfbfb;
}
.mobile-header-social {
  margin-bottom: 40px;
}
.menu-social-link-icon {
  outline: none;
  fill: #cbcbcb;
  transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-social-link-icon:hover,
.menu-social-link-icon:focus {
  fill: #fbfbfb;
}

@media screen and (min-width: 768px) {
  .header {
    height: 92px;
  }
  .header-box {
    width: 768px;
  }
  .logo {
    font-size: 20px;
  }
  .mobile-menu-icon {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .mobile-modal {
    width: 330px;
    background-image: url(/img/menu/mob-menu-bg-tab-1x.jpg);
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .mobile-modal {
      background-image: url(/img/menu/mob-menu-bg-tab-2x.jpg);
    }
  }
  .tab-menu-icon {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    position: static;
  }
  .menu-icon {
    stroke: #0c0c0c;
  }
  .menu-button {
    height: 40px;
    width: 40px;
  }
  .button-close {
    width: 40px;
    height: 40px;
  }
  .mobile-modal {
    width: 330px;
  }
}

@media screen and (min-width: 1280px) {
  .container.header-box {
    margin-bottom: 0;
  }
  .header {
    height: 88px;
  }
  .header-box {
    width: 1280px;
  }
  .menu-button {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .nav-list {
    display: flex;
    gap: 40px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    position: static;
  }
  .header-social {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    position: static;
  }
  .header-social {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: auto;
    gap: 10px;
  }
  .header-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    width: 36px;
    height: 36px;
  }
  .header-social-link-icon {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    position: static;
    fill: #0c0c0c;
    transition: fill 300ms;
  }
  .header-social-link-icon:hover,
  .header-social-link-icon:focus {
    fill: #3350e9;
  }
}
