
.sale {
 padding: 60px 0;
}
.sale-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  text-align: left;
  margin-bottom: 24px;
}
.sale-small-produkt {
  margin-bottom: 20px;
}
.sale-list {
  display: flex;
  gap: 5px;
}

.sale-item {
  border: 1px solid #0c0c0c0d;
  border-radius: 16px;
  width: 80px;
  height: 80px;
  background-color: #f3f3f3;
}
.sale-box-desktop {
  gap: 20px;
}
.sale-box-watch {
  padding-bottom: 20px;
}
.sale-big-produkt {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  max-width: 100%;
  min-height: 385px;
  background-color: #f3f3f3;
  display: flex;
}

.sale-small-img {
  padding: 13px 14px;
}
.sale-big-img {
  padding: 50px;
}

.sale-description {
  background-color: #3350e9;
  border-radius: 30px;
  max-width: 100%;
  padding: 48px 28px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.sale-description-title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}
.sale-tag {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
}
.sale-all-price {
  display: flex;
  gap: 9px;
}
.sale-price {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  border-radius: 8px;
  min-width: 68px;
  min-height: 32px;
  background-color: rgba(251, 251, 251, 0.1);
  text-align: center;
  margin-top: 20px;
  padding: 8px 12px;
  margin-bottom: 28px;
}
.sale-old-price {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-decoration: line-through;
  color: rgba(251, 251, 251, 0.5);
  text-align: center;
  margin-top: 29px;
}
.sale-about-watch {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.7);
  margin-bottom: 28px;
  text-align: start;
}
.sale-type-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  gap: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #fbfbfb;
}
.sale-type-item {
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 8px;
  padding: 8px 12px;
  width: auto;
  height: auto;
  padding: 8px;
}

@media screen and (min-width: 768px) {

 .sale {
  padding: 80px 0;
 }
  .sale-title {
    font-size: 48px;
    line-height: 0.92;
    letter-spacing: -0.02em;
    margin-bottom: 40px;
  }
  .sale-box-watch {
    display: flex;
    gap: 20px;
  }
  .sale-list {
    display: block;
  }
  .sale-item {
    border-radius: 20px;
    width: 132px;
    height: 132px;
    border-radius: 20px;
  }
  .sale-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .sale-small-produkt {
    margin-bottom: 0;
  }
  .sale-small-img {
    margin: 16px 18px;
    padding: 0;
  }
  .sale-big-produkt {
    max-width: 552px;
    min-height: 558px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sale-big-img {
    padding: 80px 112px;
    width: 100%;
  }

  .sale-description {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 80px;
    max-width: 704px;
    border-radius: 50px;
  }
  .sale-description-title {
    width: 436px;
    font-size: 32px;
    line-height: 1.25;
  }

  .sale-price {
    font-size: 20px;
    line-height: 1;
    margin-bottom: 30px;
  }

  .sale-type-list {
    font-size: 14px;
    line-height: 1.29;
    width: 398px;
  }
  .sale-about-watch {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {

.sale {
  padding: 100px 0;
}

  .sale-box-desktop {
    display: flex;
  }

  .sale-big-produkt {
    width: 428px;
    height: 558px;
    border-radius: 50px;
  }
  .sale-big-img {
    padding: 80px 50px;
  }

  .sale-description-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.13;
    width: 389px;
    margin-bottom: 10px;
  }

  .sale-box-desktop {
    gap: 40px;
  }
  .sale-type-list {
    font-size: 14px;
  }

  .sale-description {
    height: 558px;
  }
}
